.boxRow {
  background-color: #bbb;
  float: left;
}

.box {
  float: left;
  margin: 2em;
}

.boxTitle {
  background-color: #ddd;
}

.boxCard {
  height: 10vh;
}

li {
  list-style-type: none;
  margin-left: 1em;
  margin-right: 1em;
}

button {
  float: right;
  background-color: #fff;
  width: 100px;
}