.boxRow {
  margin-top: 5em;
}

.box {
  float: left;
  margin: 2em;

}

.boxTitle {
  background-color: #ddd;
}

.boxCard {
  height: 10vh;
  padding-top: 22.5px;

}

li {
  list-style-type: none;

  text-align: center;
}


button.remove {
  width: 100%;
}

input.hex {
  width: 100%;
  text-align: center
}

.form-group {
  margin-bottom: 0;
}


.panel-heading {
  background-color: #fff!important;
}

.hide-input {
  opacity: 0;
  width: 12px;
}

.btn-copy {
  padding:3px 5px;
  float: right;
  background-color: #fff;
  color: #666
}

.fa {
  margin-right: 5px;
}
