body {
  background-image: url("/images/bg-pattern.png");
  background-repeat: repeat-x repeat-y;
}

h1 {
  font-size: 3em;
}

h1.cardTitle {
  margin-top: 0;
  margin-bottom: 30px;
  float: left;
}

h2.cardSup {
font-size: 1.3em;
text-align: right;
padding-top: 1.3em;
}

h1.hex:before {
  content: "#";
}

.cardTitleContainer {
  height: 100px;
}


#content {
  margin-top: 10em;
  background-color: #fff;
}

.colorBox {
  margin: 50px 0px 30px;
}

.colorSquare {
  height: 50vh;
  transition: 1s;
}

.colorValues {
  height: 5em;
  padding-top: 15em;
}

input {
  height: 10vh!important;
}


.input-group > * {
  font-size: 5em;
}

